:root {
    --background-color: rgb(255, 255, 255);
    --color: black;
    --primary: #0d6efd;
}

[data-theme="dark"] {
    --background-color: rgb(0, 0, 0);
    --color: white;
}

div {
    color: var(--color);
    background-color: var(--background-color);
}
